<nav class="navbar navbar-expand-sm navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="grilla">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="grilla">Adopción</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="busqueda">Búsqueda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="visita">Visita medica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="grilla">Puntuar</a>
      </li>
    </ul>
  </div>
  <a class="navbar-brand" href="#">Registrarse</a>
  <a class="navbar-brand" href="#">Login</a>
  <hr>
</nav>
