
<app-header></app-header>
<div class="container" style="margin-top:30px">
  <div class="row">

    <div class="col-sm-2 " style="padding-left: 0">
      <h3>Inicio</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="grilla">En Adopción</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="visita">Búsqueda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="visita">Visita medica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Puntuar</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>

    <div class="col-sm-10">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
