<div class="row">
  <!-- <div class="col-lg-4 col-sm-4" *ngFor="let dog of dogs">
    <a href class="portfolio-box">
      <img src="{{dog.picture}}" class="img-responsive" alt="">
      <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="title">
            {{dog.name}} - {{dog.age}}
          </div>
          <div class="description">
            {{dog.description}}
          </div>
        </div>
      </div>
    </a>
  </div> -->

  <div class="column">
    <a href="/w3images/nature.jpg">
      <img src="../../assets/images/dogs-pictures/6.jpg" style="width:100%">
      <div class="caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>

    <a href="/w3images/nature.jpg">
      <img src="../../assets/images/dogs-pictures/4.jpg" style="width:100%">
      <div class="caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>

    <a href="/w3images/nature.jpg">
      <img src="../../assets/images/dogs-pictures/3.jpg" style="width:100%">
      <div class="caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>

    <a href="/w3images/fjords.jpg">
      <img src="../../assets/images/dogs-pictures/5.jpg" style="width:100%">
      <div class="caption">
        <p>Lorem ipsum...</p>
      </div>
    </a>

  </div>
  <div class="column">
    <img src="../../assets/images/dogs-pictures/4.jpg" style="width:100%">
    <img src="../../assets/images/dogs-pictures/5.jpg" style="width:100%">
      <img src="../../assets/images/dogs-pictures/2.jpg" style="width:100%">
        <img src="../../assets/images/dogs-pictures/1.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../../assets/images/dogs-pictures/4.jpg" style="width:100%">
    <img src="../../assets/images/dogs-pictures/0.jpg" style="width:100%">
      <img src="../../assets/images/dogs-pictures/3.jpg" style="width:100%">
        <img src="../../assets/images/dogs-pictures/2.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../../assets/images/dogs-pictures/1.jpg" style="width:100%">
    <img src="../../assets/images/dogs-pictures/5.jpg"style="width:100%">
      <img src="../../assets/images/dogs-pictures/2.jpg"style="width:100%">
        <img src="../../assets/images/dogs-pictures/6.jpg"style="width:100%">
  </div>
</div>
