<div class="row">

  <div class="col-lg-4 col-sm-4" *ngFor="let mascota of listadoMascotas">
    <a href="{{actionVisita ? '/visita/'+ mascota.Id : '/adopcion/'+ mascota.Id}}">
      <img src="{{pathAvatar + mascota.avatar}}" style="width:100%">
      <div>
        <p style="font-size: 24px; margin-bottom: 0"> {{mascota.nombre}} - {{mascota.edad}}</p>
        <p style="font-size: 16px"> Raza: {{mascota.razaDescripcion}} Sexo: {{mascota.sexo}} Color: {{mascota.color}}</p>
      </div>
    </a>
  </div>

</div>
