<div style="margin-left: 16px;">
  <h3> {{ isVisita ? 'Visita veterinaria' : 'Búsqueda' }}</h3>
  <input type="text" size="50" [(ngModel)]="queryNameMascota" (keyup.enter)="queryForNameMascota()" placeholder="Ingrese el nombre de la mascota" >
  <button type="submit" class="btn btn-success pull-right" style="margin-left: 16px" (click)='queryForNameMascota()'> Buscar </button>
</div>

<div style="margin-left: 16px; margin-top: 20px;" *ngIf="isEnabled">
  <app-spinner *ngIf="showSpinner"></app-spinner>

  <div *ngIf = "!showSpinner">
    <app-grilla [listadoMascotas]="listadoMascotas" [actionVisita]="isVisita" *ngIf="listadoMascotas"></app-grilla>
    <div *ngIf = "listadoMascotas.length === 0">
      No hay resultados.
    </div>
  </div>
</div>
