<div style="margin-left: 16px;">
  <h3> Visita veterinaria</h3>
  <input type="text" size="50" [(ngModel)]="queryNameMascota" placeholder="Ingrese el nombre de la mascota" >
  <button type="submit" class="btn btn-success pull-right" style="margin-left: 16px" (click)='queryForNameMascota()'> Buscar </button>
</div>

<div style="margin-left: 16px; margin-top: 20px;" *ngIf="isEnabled">
  <app-spinner *ngIf="showSpinner"></app-spinner>

  <div *ngIf = "!showSpinner">
    <app-grilla [listadoMascotas]="listadoMascotas"></app-grilla>
  </div>
</div>
