<div style="margin-left: 16px;">
  <h3> Carga de visita veterinaria</h3>

  <div class="row" style="margin-top: 16px;">
      <div class="col-lg-4 col-sm-4" >
          <img src="{{pathAvatar + mascota.avatar}}" style="width:100%">
      </div>
      <div class="caption col-lg-4 col-sm-4">
        <p style="font-size: 24px"> {{mascota.nombre}} {{mascota.edad}} {{mascota.razaId}}</p>
        <p style="font-size: 18px; margin-bottom: 0"> Sexo: {{mascota.sexo}} Color: {{mascota.color}} Tamaño: {{mascota.tamanioId}} Caracter: {{mascota.caracter}}</p>
        <p style="font-size: 15px"> {{mascota.observaciones}}</p>
      </div>
  </div>

  <div class="row" style="margin-top: 16px;">
      <div style="width:80%">
        <p style="font-size: 24px"> Historico de Estudios </p>
        <table class="table">
          <tr>
            <th>Control</th>
            <th>Observacion</th>
            <th>Vencimiento</th>
          </tr>
          <tr>
            <td>vacuna</td>
            <td>todo ok</td>
            <td>1 año</td>
          </tr>
        </table>
      </div>
  </div>

  <div class="row" style="margin-top: 16px;">
      <div style="width:80%">
        <p style="font-size: 24px"> Nuevos estudios </p>
        <table class="table" id="nuevoEstudio">
          <tr>
            <th>Control</th>
            <th>Observacion</th>
            <th></th>
          </tr>
          <tr>
            <td>control</td>
            <td>patita lastimada</td>
            <td><button class="btn btn-danger pull-right" (click)='deleteEstudio()'> Eliminar </button></td>
          </tr>
        </table>

      </div>
  </div>

  <form role="form" class="form-control input-lg">
			<h2>Añadir nuevo estudio</h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group" >
            <label>Tipo estudio:
              <select name="Estudios" [(ngModel)]="tipoEstudioValue"  class="form-control input-lg">
                 <option value="1">Vacuna</option>
                 <option value="2">Fractura</option>
                 <option value="3">Baño</option>
                 <option value="4"> sesion completa de revision general</option>
                 <option value="5">Control</option>
              </select>
            </label>
					</div>
				</div>
			</div>
			<div class="form-group">
      Observaciones: <input type="text" [(ngModel)]="obsValue" class="form-control input-lg">
			</div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <button  class="btn btn-success btn-block btn-lg"  (click)='saveUnEstudio()'> Añadir </button>
        </div>
      </div>
		</form>

    <div class="row" style="margin-top: 16px; margin-bottom: 24px; ">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
          <label>Monto: <input type="number" placeholder="0.00" [(ngModel)]="moneyValue" class="form-control input-lg"> </label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
          <label>Fecha: <input type="date" [(ngModel)]="dateValue" class="form-control input-lg" > </label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4" >
        <button type="submit" class="btn btn-success btn-block btn-lg" style="margin-top: 16px"  (click)='saveEstudiosMascota()'> Guardar Todo </button>
      </div>
    </div>

</div>
