<div style="margin-left: 16px;">
  <h3> Carga de visita veterinaria</h3>

  <div class="row" style="margin-top: 16px;">
      <app-spinner *ngIf="showSpinnerPerfil"></app-spinner>
      <div class="col-lg-4 col-sm-4" *ngIf="!showSpinnerPerfil">
          <img src="{{pathAvatar + mascota.avatar}}" style="width:100%">
      </div>
      <div class="caption col-lg-4 col-sm-4" *ngIf="!showSpinnerPerfil">
        <p style="font-size: 24px"> {{mascota.nombre}} {{mascota.edad}} {{mascota.razaDescripcion}}</p>
        <p style="font-size: 18px; margin-bottom: 0"> {{mascota.sexo === "M"? "Macho" : "Hembra" }} Color: {{mascota.color}} Tamaño: {{mascota.tamanioDescripcion}} Caracter: {{mascota.caracter}}</p>
        <p style="font-size: 15px"> {{mascota.observaciones}}</p>
      </div>
  </div>

  <div class="row" style="margin-top: 16px;">
      <div style="width:80%">
        <p style="font-size: 24px"> Historico de Estudios </p>
        <table class="table">
          <tr>
            <th>Control</th>
            <th>Observacion</th>
            <th>Vencimiento</th>
            <th>Veterinario</th>
          </tr>
          <app-spinner *ngIf="showSpinnerHistorico"></app-spinner>
          <tr *ngFor="let historico of estudiosHistorico">
            <td>{{historico.tipoEstudioDescripcion}}</td>
            <td>{{historico.observaciones ? historico.observaciones : '-' }}</td>
            <td>{{historico.fecha_vencimientoString}}</td>
            <td>{{historico.veterinarioNombreApellido}}</td>
          </tr>
        </table>
      </div>
  </div>

  <div class="row" style="margin-top: 16px;">
      <div style="width:80%">
        <p style="font-size: 24px"> Nuevos estudios </p>
        <table class="table" id="nuevoEstudio" *ngIf="estudiosAgregados.length !== 0">
          <tr>
            <th>Control</th>
            <th>Observacion</th>
            <th></th>
          </tr>
          <tr *ngFor="let agregado of estudiosAgregados; index as i">
            <td>{{agregado.descripcion}}</td>
            <td>{{agregado.observaciones}}</td>
            <td><button class="btn btn-danger pull-right" (click)='deleteEstudio(i)'> Eliminar </button></td>
          </tr>
        </table>
      </div>
  </div>

  <form [formGroup]="estudioFormInput" role="form" class="form-control input-lg">
			<h2>Añadir nuevo estudio</h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group" >
            <label>Tipo estudio:
              <select name="Estudios" [(ngModel)]="tipoEstudioValue"  class="form-control input-lg" formControlName = "Estudios">
                 <option [ngValue]=null>-- Seleccionar --</option>
                 <option *ngFor="let estudio of todosLosEstudios" [ngValue]="estudio" >{{estudio.descripcion}}</option>
              </select>
            </label>
					</div>
				</div>
			</div>
			<div class="form-group">
        Observaciones: <input type="text" [(ngModel)]="obsValue" class="form-control input-lg" formControlName = "Estudios">
			</div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <button  class="btn btn-success btn-block btn-lg" [disabled]="tipoEstudioValue === null" (click)='saveUnEstudio()'> Añadir </button>
        </div>
      </div>
		</form>

    <!-- Modal -->
    <div class="modal fade" id="modalExito" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Guardado exitoso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            El estudio fue añadido con éxito.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 16px; margin-bottom: 24px; ">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
          <label>Monto: <input type="number" placeholder="0.00" [(ngModel)]="moneyValue" class="form-control input-lg"> </label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="form-group">
          <label>Fecha: <input type="date" [(ngModel)]="dateValue" class="form-control input-lg" > </label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4" >
        <button type="submit" class="btn btn-success btn-block btn-lg" data-toggle="modal" data-target="#modalExito" style="margin-top: 16px"  [disabled]="estudiosAgregados.length === 0 || dateValue === null" (click)='saveEstudiosMascota()'> Guardar Todo </button>
      </div>
    </div>

</div>
